<div class="<%= controller_name %> <%= action_name %>">
  <ul class="questions-list">
    <% @questions.each do |question| %>
      <li class="questions-list__item question">
        <%= link_to question.body, question_path(question), class: 'question__title' %>
        <%= link_to 'Удалить', question_path(question), class: 'question__delete-link', method: :delete, title: 'Удалить' %>
      </li>
    <% end%>
  </ul>
</div>