<div class="nav nav-admin">
  <span class="nav-admin__title"><%= t('.admin_header') %></span>
  <div class="nav-admin__user user">
    <%= t('.greeting', appeal: appeal(current_user)) %>
    <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  </div>
</div>