<h1><%= t('g.badges') %></h1>

<% if @badges.any? %>
  <table class="table table-bordered">
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="2">Actions</th>
    </tr>
    <% @badges.each do |badge| %>
      <%= render 'badge', badge: badge %>
    <% end %>
  </table>
<% else %>
  <div class="no-badges d-flex justify-content-center align-items-center">
    <div class="p-5 border border-primary rounded"><%= t('.no-badges') %></div>
  </div>
<% end %>
