<footer class="footer">
  <div class="year">
    <%= current_year %> |&nbsp;
  </div>
  <div class="project">
    <%= link_to 'TestGuru', github_url('e1cb4ac37s', 'test-guru'), target: '_blank' %> |&nbsp;
  </div>
  <div class="author">
    Код писал <%= link_to 'e1cb4ac37s', github_url('e1cb4ac37s'), target: '_blank' %> |&nbsp;
  </div>
  <div class="thinknetika">
    Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'http://thinknetica.com/', target: '_blank' %>
  </div>
</footer>