<footer class="footer">
  <div class="year">
    <%= current_year %> |&nbsp;
  </div>
  <div class="project">
    <%= github_url 'TestGuru', 'e1cb4ac37s', repo: 'test-guru', target: '_blank' %> |&nbsp;
  </div>
  <div class="author">
    Код писал <%= github_url 'e1cb4ac37s', 'e1cb4ac37s', target: '_blank' %> |&nbsp;
  </div>
  <div class="thinknetika">
    Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'http://thinknetica.com/', target: '_blank' %>
  </div>
</footer>