<tr>
  <td class="question__title"><%= question.body %></td>
  <td><%= link_to t('g.edit'), edit_admin_question_path(question) %></td>
  <td>
    <%= link_to t('g.delete'),
      admin_question_path(question),
      class: 'question__delete-link',
      method: :delete,
      title: t('g.delete'),
      data: { confirm: t('g.confirm') } %>
  </td>
  <td><%= link_to t('.new_answer'), new_admin_question_answer_path(question) %></td>
</tr>
