@import "~bootstrap/scss/bootstrap";
@import "./typography/icons";
@import "./test-passage.scss";
@import "./badges.scss";

html, body {
  height: 100%;
}
body {
  // <typography
  color: #414141;
  // font-family: monospace;
  // typography />

  // <sticky footer
  display: flex;
  flex-direction: column;
  margin: 0;
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
    display: flex;
    padding: 15px 15px 10px;
    background-color: var(--gray-dark);
    color: rgba(#fff, .5);
    a {
      color: var(--green);
    }
  }
  // sticky footer/>
}

.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

input {
  &.error {
    border: 2px solid var(--danger);
    background: lighten(#dc3545, 35%);
    outline: none;
  }
  &.success {
    border: 2px solid var(--success);
    background: lighten(#28a745, 35%);
    outline: none;
  }
}
