.questions {
  h1 {
    text-align: center;
  }
  .question {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #707070;
    border-radius: 8px;
    &__title {
      font-weight: bold;
      text-decoration: none;
      color: #414141;
      &:hover, &:focus, &:active {
        text-decoration: underline;
      }
    }
    &__delete-link {
      color: red;
    }
  }
  &.index {
    .questions-list {
      list-style: none;
      padding: 0;
      &__item {
        display: flex;
        align-items: center;
        .question__title {
          flex: 1;
        }
      }
    }
  }
  &.new {
    form {
      margin: auto;
      width: 500px;
      .form-group {
        display: flex;
        flex-flow: column;
        margin-bottom: 20px;
        .form-control {
          display: flex;
          border: 1px dashed;
        }
      }
      label {
        flex-basis: 30%;
      }
      textarea {
        flex: 1;
        border-radius: 4px;
        resize: vertical;
      }
      button[type='submit'] {
        margin: auto;
      }
    }
  }
}