<ul>
  <% @tests.each do |test| %>
    <li>
      <div class="test">
        <div class="title"><%= link_to test.title, test_path(test) %> | Questions Count: <%= test.questions.size %></div>
        <ol>
          <% test.questions.each do |question| %>
            <li><%= question.body %> | <%= link_to '->', question_path(question) %></li>
          <% end %>
        </ol>
      </div>
    </li>
  <% end%>
</ul>